.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 50px;
    color: #fff;
}

.bottom_right {
    position: absolute;
    right: 5px;
    bottom: 0px;
    line-height: 20px;
}

.navbar, footer {
    background-color: #160907;
}

.navbar .navbar-brand {
    color: #ecf0f1;
    float: left;
}

.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
    color: #ffbbbc;
}

.navbar li {
    float: left;
    list-style-type: none;
}


