.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

img {
    border: 2px solid #000;
    max-width: 600px;
    float: right;
    margin-top: -40px;
    margin-bottom: 70px;
}

footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 50px;
    color: #fff;
}

.bottom_right {
    position: absolute;
    right: 5px;
    bottom: 0px;
    line-height: 20px;
}

.navbar, footer {
    background-color: #160907;
    z-index: 2;
}

.body-content {
    padding: 0px 20px;
    margin-bottom: 60px;
}

.navbar .navbar-brand {
    color: #ecf0f1;
    float: left;
}

.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
    color: #ffbbbc;
}

.navbar li {
    float: left;
    list-style-type: none;
}

.body-content .w3-sidebar {
    top: 0px;
    height: 100%;
    float: right;
    background-color: #160907;
    right: 0px;
    color: #fff;
}

.w3-bar-block .w3-bar-item:first-child {
    margin-top: 60px;
}

.w3-bar-block .w3-bar-item, .status {
    background: #c10e0e;
    outline: 0;
    margin-bottom: 3px;
}

.status {
    padding: 10px 0px;
    color: #fff;
    width: 25%;
    text-align: center;
}